@using MathGamesApp.Core.Models.Problem
@model IEnumerable<SubtractionProblemViewModel>


<h2>Check Subtraction Problem Answers</h2>

@if (Model.All(p => p.IsCorrect))
{
    <p class="success">Congratulations, you got all the answers correct!</p>
}
else
{
    <p class="error">Oops, you got some answers wrong. Here are the correct answers:</p>
    @foreach (var subProblem in Model)
    {
        <div class="problem @(subProblem.IsCorrect ? "correct" : "incorrect")">
            <p class="problem-description">@subProblem.Description</p>
            <div class="answer-section">
                <label>Your Answer:</label>
                <span>@subProblem.UserAnswer</span>
            </div>
            <div class="answer-section">
                <label>Correct Answer:</label>
                <span>@subProblem.Answer</span>
            </div>
            @Html.HiddenFor(model => subProblem.Id)
            @Html.HiddenFor(model => subProblem.DifficultyLevelId)
            @Html.HiddenFor(model => subProblem.ProblemCategoryId)
            @Html.HiddenFor(model => subProblem.ProblemTypeId)
        </div>
    }
}

<style>
    .success {
        color: green;
        font-weight: bold;
    }
    
    .error {
        color: red;
        font-weight: bold;
    }
    
    .problem {
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid black;
    }
    
    .problem .problem-description {
        font-weight: bold;
        margin-bottom: 5px;
    }
    
    .problem.correct {
        background-color: #cfc;
    }
    
    .problem.incorrect {
        background-color: #fcc;
    }
    
    .answer-section {
        display: inline-block;
        margin-right: 10px;
    }
</style>