@using MathGamesApp.Core.Models.Problem

@model IEnumerable<AdditionProblemViewModel>

<h2>Generate Addition Problems</h2>

@using (Html.BeginForm("CheckAnswers", "Problem", FormMethod.Post))
{
    @foreach (var problem in Model)
    {
        <div class="problem">
            <p>@problem.Description</p>
            <input type="hidden" name="Problems.Index" value="@problem.Id" />
            <label>Answer:</label>
            <input type="number" name="Problems[@problem.Id].UserAnswer" value="@problem.UserAnswer" />
        </div>
    }
    <button type="submit">Submit Answers</button>
}

@*@model IEnumerable<AdditionProblemViewModel>

@{
    ViewData["Title"] = "Generate Problem";
}


    <div class="row">
        @foreach(var problem in Model)
        {
            <h5 class="problem-card-name">@problem.Description</h5>
            <input type="hidden"  value="@problem.Id" />
            <input type="number"  placeholder="Enter your answer" />
        }
    </div>
    <button type="submit">Check Answers</button>
*@