@using MathGamesApp.Core.Models.Problem
@model IEnumerable<SubtractionProblemViewModel>



<form method="post" action="@Url.Action("CheckAnswersSubtraction")">
  <table>
    <thead>
      <tr>
        <th>Problem</th>
        <th>Your Answer</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @foreach (var subProblem in Model)
      {
        <tr>
          <td>@subProblem.Description</td>
          <td>
            <div class="input-group">
              <input type="hidden" name="problems[@subProblem.Id].Id" value="@subProblem.Id" />
              <input type="hidden" name="problems[@subProblem.Id].DifficultyLevelId" value="@subProblem.DifficultyLevelId" />
              <input type="hidden" name="problems[@subProblem.Id].ProblemCategoryId" value="@subProblem.ProblemCategoryId" />
              <input type="hidden" name="problems[@subProblem.Id].ProblemTypeId" value="@subProblem.ProblemTypeId" />
              <input type="number" class="form-control" name="problems[@subProblem.Id].UserAnswer" value="@subProblem.UserAnswer" />
              <input type="hidden" name="problems[@subProblem.Id].Answer" value="@subProblem.Answer" />
              <input type="hidden" name="problems[@subProblem.Id].Description" value="@subProblem.Description" />
              <input type="hidden" name="problems[@subProblem.Id].IsCorrect" value="@subProblem.IsCorrect" />
              <div class="input-group-append">
              </div>
            </div>
          </td>
          <td></td>
        </tr>
      }
    </tbody>
  </table>
  <button type="submit" class="btn btn-primary mt-3">Check Answers</button>
</form>


